<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <h2>Here are all the users:</h2>
    <form action='/users' method='post'>
	    Name: <input type='text' name='name'>
	    Email: <input type='text' name='email'>
	    <input type='submit' value='create user'>
	</form>

</body>
</html>